#banner
  .banner_content
    %h1 Wikinimous
    %p Write your anonymous thoughts
    %button= link_to "Enter", new_user_registration_path


#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Quote of the day
        %p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu arcu eu lectus hendrerit tempor. In scelerisque nisi vel est mattis, et dignissim elit commodo. Integer aliquet orci vel placerat dictum. Suspendisse nec finibus mi. Nulla eget sollicitudin nisl, et ultrices leo. Praesent ac venenatis nulla. Curabitur vel risus sapien. Suspendisse fermentum orci id congue sagittis. Etiam dictum urna sed nibh ornare malesuada. Nulla porta elementum orci et convallis. Vestibulum consequat nec libero eu iaculis. Donec imperdiet mattis quam volutpat posuere. Nam sit amet ornare ligula. Sed a nibh dolor. Suspendisse lobortis mauris eget ante interdum imperdiet.

#bottom_cta
  .wrapper
    %h2 Join Us
    %br
    %button= link_to "Join", new_user_registration_path
